/*** HOME PAGE ***/
body {
    width: auto;
    margin: auto;
    font-family: sans-serif;
}

/* TITLE */

#title {
    font-size: 60px;
    margin: 0;
    text-align: center;
}

/* MEMBER BUTTONS */
.member_buttons {
    float: right;
    text-decoration: none;
    border-left: 1px solid #bbb;
}

/* NAVIGATION */
#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

#navigation li {
    float: left;
    border-right: 1px solid #bbb;
}

#navigation li:last-child {
    border-right: none;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #111;
}


#actors a, #films a,#categories a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#actors,#films,#categories {
    display: flex;
    overflow: auto;
    margin: 10px;
    background-color: gray;
    padding: 20px;
}

#create-actor-page {
    display: inline-block;
    margin:10px;
}

.create-actor-inputs {
    margin: 25px;
}

.home-profile {
    display: flex;
    margin: 10px;
    background-color: black;
}

.see-more-button {
    display: inline-block;
    background-color: darkgray;
    color: white;
    padding: 0.6em 1em;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.create-button {
    text-decoration: none;
    color:black;
}

#actor-crud-buttons button {
    text-decoration: none;
    color:black;
}

#submit-button {
    margin: 10px;
}

table {
    border: 2px solid black;
    width: 700px;
    height: 200px;
    margin: 20px;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
    color: white;
    padding: 5px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: blue;
}

.sub-heading-labels {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
}

.radio {
    margin:10px;
    border:10px;
}

div button {
    margin:5px;
}

div label {
    margin:10px;
}
div input {
    margin:10px;
}

#edit-actor-input-fields {
    display:block;
}

#entity-list-search-bar {
    width: 600px;
    height: 30px;
    text-align: center;
}