/*** HOME PAGE ***/
body {
    width: auto;
    margin: auto;
}

/* TITLE */

#title {
    font-size: 60px;
    margin: 0;
    text-align: center;
}

#search_bar {
    float: center;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* MEMBER BUTTONS */
.member_buttons {
    float: right;
    text-decoration: none;
}

/* NAVIGATION */
#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

#navigation li {
    float: left;
    border-right: 1px solid #bbb;
}

#navigation li:last-child {
    border-right: none;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #111;
}

/* NEWS */

.sub-heading-labels {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
}

#news a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#news {
    display: flex;
    overflow: auto;
    margin: 10px;
}

.news-articles {
    display: flex;
    margin: 10px;
    background-color: black;
}

.see-more-button {
    display: inline-block;
    background-color: darkgray;
    color: white;
    padding: 0.6em 1em;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* MATCHES */
#matches {
    display: flex;
    overflow: auto;
    margin: 10px;
}

.matches-layout {
    padding: 20px;
    margin: 20px;
    background-color: black;
    display: flex;
}

.matches-layout>div>p {
    color: white;
}

.matches-matches-layout>div>p {
    color: white;
}

.date-of-match,
.time-of-match,
.date-time-of-match {
    color: white;
}

/*** LATEST NEWS PAGE ***/
#latest-news-news a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#latest-news-news {
    display: inline-block;
    overflow: auto;
    margin: 10px;
}

.latest-news-news-articles {
    display: inline-block;
    margin: 10px;
    background-color: black;
}

/*** MATCHES PAGE ***/
#matches-matches {
    display: inline-block;
    overflow: auto;
    margin: auto;
}

.matches-matches-layout {
    display: inline-flex;
    padding: 20px;
    margin: 20px;
    background-color: black;
}

.matches-matches-layout>div>p,
.date-of-match,
.time-of-match {
    color: white;
}


/*** CLUBS PAGE ***/
#league-season-selector,
#league_options,
#season_options {
    margin: 10px;
    padding: 5px;
    display: block;
}

#team {
    display: flex;
    margin: auto;
    width: auto;
    overflow: auto;
}

#team>div {
    height: 100%;
    width: 100%;
}

#submit-button {
    margin: 10px;
}

/*** PLAYERS PAGE ***/
table {
    border: 2px solid black;
    width: 800px;
    height: 200px;
    margin: 20px;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}

/* #player-table-choice {
    display: inline;
} */
.radio {
    margin:10px;
    border:10px;
}
