/*** HOME PAGE ***/
body {
    width: auto;
    margin:0 auto;
}
/* TITLE */

#title {
    font-size: 60px;
    margin: 0;
    text-align: center;
}

#search_bar {
    float: center;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* MEMBER BUTTONS */
#member_buttons {
    float: right;
    text-decoration: none;
}

/* NAVIGATION */
#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

#navigation li {
    float: left;
    border-right: 1px solid #bbb;
}

#navigation li:last-child {
    border-right: none;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #111;
}

/* NEWS */

.sub-heading-labels {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
}

#news a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#news {
    display: flex;
    overflow: auto;
    margin:10px;
}

.news-articles {
    display: flex;
    margin:10px;
    background-color: black;
}

#more-news-button {
    display: inline-block;
    background-color: darkgray;
    color: white;
    padding: 0.6em 1em;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom:20px;
}

/* MATCHES */
#matches {
    display: flex;
    overflow: auto;
    margin:10px;
}
.matches-layout {
    padding:20px;
    margin:20px;
    background-color: black;
    display: flex;
}
.matches-layout > div > p{
    color:white;
}

.date-of-match, .time-of-match {
    color: white;
}

/*** CLUBS PAGE ***/
#team {
    display: flex;
    margin:auto;
    width: auto;
    overflow: auto;  
}
#team > div {
    height: 100%;
    width: 100%;
}
